
<footer>
    <ul>
        <li><a href="/">Home</li></a>
        <li><a href="/">About</li></a>
        <li><a href="/">2019</li></a>
        <li><a href="/">2018</li></a>
        <li><a href="/">2017</li></a>
        <li><a href="/">2016</li></a>
 <p style="margin-left: 65%;">Copyright @suryanbhaii 2025</p>
    </ul>
   
</footer>
</body>
</html>



