
<%- include("partials/header.ejs") %>
    <div class="container">
    <h1>Create a blog post now</h1>
<a href="/submit_blog" style="text-decoration: none; color: white;"><button> Create now</button></a>
</div>
<hr>

<%- include("partials/footer.ejs") %>