
<%- include("partials/header.ejs") %>
    <div class="container">
    <h1 style="text-align: center;">“Blogging is not about publishing as much as you can. It’s about publishing as smart as you can.” – Jon Morrow</h1>
<a href="/submit_blog" style="text-decoration: none; color: white;"><button style="padding: 15px;width: 100%;">Write now</button></a>
</div>
<hr>

<%- include("partials/footer.ejs") %>