<%- include("partials/header.ejs") %>

<div class="container container1">
    <h2>Blogify – A space to write, share, and inspire.</h2>
    <h6>A platform to grow mutually along with others.</h6>
    <p>This isn’t just another blog. It’s a canvas of thoughts, code, and creativity — built to share knowledge, experiences, and perspectives that grow with every post.</p>
    <h6 style="margin-top: 50px; margin-left: 300px;">"Have a story to tell? Start writing today."</h6>
    <h6 style="margin-left: 300px;">"Read. Write. Connect. Welcome to Blogify."</h6>
<h6 style="margin-top: 30px;margin-left: 300px;">Because words deserve a place to stay.</h6>
</div>

<hr>
<%- include("partials/footer.ejs") %>