<%- include("partials/header.ejs") %>

<div class="container container1">
    <h2>Blogify – A space to write, share, and inspire.</h2>
    <h6>A platform to grow mutually along with others.</h6>
    <p>This isn’t just another blog. It’s a canvas of thoughts, code, and creativity — built to share knowledge, experiences, and perspectives that grow with every post.</p>
    <div style="display: flex;justify-content: center;width: 100%;margin-top: 5%;">
    <button style="font-size: 20px;font-weight: bold;"><a href="/submit_blog" style="text-decoration: none;color: white;">Write Now</a></button>
    </div>
    <p id="quote" style="margin-top:20px; font-style: italic; color: black;margin: auto;"></p>
    </div>
<script>
  const quotes = [
    "Your story could change someone’s day.",
    "Writing is thinking on paper.",
    "Don’t wait for inspiration, create it.",
    "Every blog is a voice, make yours heard.",
    "Words build worlds."
  ];
  document.getElementById("quote").innerText = 
    quotes[Math.floor(Math.random() * quotes.length)];
</script>




<%- include("partials/footer.ejs") %>